body {
  background-image: url(https://images.pexels.com/photos/1109352/pexels-photo-1109352.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  line-height: 2rem;
  font-size: larger;
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

h1 {
  display: flex;
  justify-content: center;
  margin-bottom: -20px;
}

.header p {
  font-style: bold;
  font-size: larger;
  text-align: center;
}

form {
  width: 600px;
  margin: 50px auto;
  background-color: rgba(100, 83, 61, 0.897);
  color: blanchedalmond;
  padding: 2rem;
  line-height: 45px;
}
